
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Home</h2>
<img style="width: 100%; height: 500px" src="@Url.Content("~/image/image_tl/proof.jpg")" alt="Alternate Text" />
